<section class="content--row">
  <header class="content__title">
    <h1>Toasty</h1>
    <small>This template is built using <code>ngx-toastr</code> and provides some usage examples</small>
  </header>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Toasty</h4>
      <div class="row btn-demo">
        <button class="btn btn-primary" (click)="showToasty('info')">Info</button>
        <button class="btn btn-success" (click)="showToasty('success')">Success</button>
        <button class="btn btn-warning" (click)="showToasty('warning')">Warning</button>
        <button class="btn btn-danger" (click)="showToasty('error')">Error</button>
      </div>
    </div>
  </div>
</section>
