.dynamic-ratings-label {
  margin: -2px 0 0 20px;
  font-weight: 500;
}

.dynamic-ratings-label--positive {
  color: #32c787;
}

.dynamic-ratings-label--negative {
  color: #ff6b68;
}

.dynamic-ratings-label--normal {
  color: #FF9800;
}
